@import 'https://fonts.googleapis.com/css?family=Cedarville+Cursive|Tangerine:400,700';

.background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}
.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
}
.content h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding-top: 15%;
    margin-bottom: 10px;
}
.content p {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    color: #fff;
}
			
@media screen and (max-width: 768px) {
    .content h1{
        font-size:40px;
    }
}

.center-div{
     position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 40%;
    left: 50%;
}

.aboutus-text{
    font-size: 16.5px;
    font-weight: bolder;
}

.bio-text{
    font-size: 26px;
    padding-top:10px;
    font-weight: bolder;
}

.navbar-default {
    background-color:transparent;
    border-color:transparent;
}

.cliente{
    padding-top:10px;
}

#jesus{
    text-align: center;
}

.list-info  span {
    float: left;
    width: 0.9em;
    font-size: 700%;
    font-style: italic;
    line-height: 80%;
    color: grey;
}

#carousel {
    padding-top: 0px;
    
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color:  rgba(0,0,0,.5);
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.item{
    height: 300px;
}

.book, .book img, .book::after,
.book::before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



ul {
  display: table-cell;
  vertical-align: middle;
}

.list-inline {
  padding-left: 0px;
  list-style: none;
}
.list-inline > a > li {
  display: inline-block;
  margin-left: 2em;
}
.list-inline > li:first-child {
  margin-left: 10;
}

.book {
  cursor: pointer;
  display: block;
  width: 250px;
  height: 346px;
  margin-top:10px;
  margin-bottom:15px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: box-shadow .3s linear;
  transition: box-shadow .3s linear;
}

.book img {
  width: inherit;
  height: inherit;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all .45s ease;
  transition: all .45s ease;
}

.book:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}
.book:hover img {
  -webkit-transform: rotateY(-25deg);
          transform: rotateY(-25deg);
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book::after,
.book::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: transparent;
  border: 1px solid #d9d9d9;
}

.book::before {
  left: -3px;
}

.book::after {
  left: -6px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.headline{
   font-family: 'Cedarville Cursive', cursive;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

.video-container .description .inner {
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 37px;
    letter-spacing: 3px;
    color: #fff;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .headline{
        font-size:40px;
    }
    .video-container .description .inner {
        font-size: 30px;
    }
}

.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

